body{
  margin: 0px;
  padding: 0px;
  background-color: #c6e1fa;
}
header{
  
  width: 100%;
  height: 205px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
    nav{
 
 background: #7869ff;
 text-align: center;
 font-family:Arial, Helvetica, sans-serif;
}
 
nav ul{
display:block;
list-style :none;
text-transform: capitalize;
height: 34px;
margin-top: 0px;
}
nav li{
display:inline-block;
padding: 8px;
margin-left:40px;
margin-right: 40px;

}
nav li:hover{
background-color: #8f9ef7;
}
nav a{
  text-decoration: none;
  color: black;
}

nav a:hover{
  color: black;

}

section{
  margin-left: 5px;
  padding: 0px;
 
  width: 69.7%;
  float: left;
  height: 4650px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#customers td, #customers th {
  border: 1px solid #4e8cff;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #afd8ffab;}

#customers tr:hover {background-color: #649aff6e;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #7869ffa6;
  color: black;
}

p{
	font-family:Arial, Helvetica, sans-serif;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

aside{
  margin-right: 5px;
  padding: 0px;
  
  width: 28.9%;
  float: right;
  height: 4650px;
  font-size:70%;
}

img.displayed {
  display: block;
  margin-left: auto; 
  margin-right: auto 
}



footer{
  background-color:#7869ff;
  margin: 0px;
  padding: 0px;
  clear: both;
  
 text-align: center;
}


footer a:hover{
  color: 	#cdd5ff;
}
footer a{
 text-decoration: none;
  color: black;
}